# Licensed to the Apache Software Foundation (ASF) under one or more
# license agreements; and to You under the Apache License, version 2.0:
#
#   https://www.apache.org/licenses/LICENSE-2.0
#
# This file is part of the Apache Pekko project, which was derived from Akka.
#

name: Publish nightly 1.2 snapshots

on:
  schedule:
    - cron: "30 1 * * *"
  workflow_dispatch:

jobs:
  publish-artifacts:
    name: Publish 1.2 artifacts to Apache Nexus
    runs-on: ubuntu-latest
    if: github.repository == 'apache/pekko-http'
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          fetch-tags: true
          ref: 1.2.x

      - name: Set up JDK 8
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: temurin
          java-version: 8

      - name: Install sbt
        uses: sbt/setup-sbt@a627500d27445f8c5021755a439829b6e78e3358 # v1.1.15

      - name: Cache Coursier cache
        uses: coursier/cache-action@bebeeb0e6f48ebad66d3783946588ecf43114433 # v7.0.0

      - name: Install graphviz
        run: sudo apt-get install -y graphviz

      - name: Publish to Apache Maven repo
        run: sbt +publish
        env:
          NEXUS_USER: ${{ secrets.NEXUS_USER }}
          NEXUS_PW: ${{ secrets.NEXUS_PW }}
          JAVA_OPTS: "-verbose:gc -Xmx4g"
